.DS_Store
node_modules
/dist
auth_config.json
client_secret_766984185858-k7ln7n0dnh3sc8go96nulegdumo4fteq.apps.googleusercontent.com.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
